{% extends 'benevofy/base.html' %}
{% load humanize %}

{% load static %}

{% block content %}
<div class="content-wrapper">
  {% if user.member.current_mode == 'Admin' %}
  <div class="row">
    <div class="col-12 col-md-6 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Registration Link (Unpaid)</h4>
          <div class="d-flex align-items-center">
            <input type="text" id="registration-link" class="form-control flex-grow-1 mr-2 text-dark" value="http://{{ request.get_host }}{% url 'register-member' user.member.logged_in_association.registration_code %}" readonly>
            <button class="btn btn-outline-primary" onclick="copyLinkToClipboard_()">Copy</button>
          </div>
          <script>
            function copyLinkToClipboard_() {
              var copyText = document.getElementById("registration-link");
              copyText.select();
              copyText.setSelectionRange(0, 99999); // for mobile device
              document.execCommand("copy");
              alert("Registration link copied to clipboard");
            }
          </script>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Registration Link (Paid)</h4>
          <div class="d-flex align-items-center">
            <input type="text" id="registration-link-paid" class="form-control flex-grow-1 mr-2 text-dark" value="http://{{ request.get_host }}{% url 'register-member' user.member.logged_in_association.registration_code_paid %}" readonly>
            <button class="btn btn-outline-primary" onclick="copyLinkToClipboard()">Copy</button>
          </div>
          <script>
            function copyLinkToClipboard() {
              var copyText = document.getElementById("registration-link-paid");
              copyText.select();
              copyText.setSelectionRange(0, 99999); // for mobile device
              document.execCommand("copy");
              alert("Registration link copied to clipboard");
            }
          </script>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
    <div class="row">
      <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Events</h4>
            <div class="row">
              <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                  <h3 class="mb-0">{{ events.count }}</h3>
                </div>
              </div>
              <div class="col-3">
                <div class="icon icon-box-success ">
                  <span class="mdi mdi-calendar-multiple icon-item"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if user.member.current_mode == 'Admin' %}
      <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Members</h4>
            <div class="row">
              <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                  <h3 class="mb-0">{{ member_count }}</h3>
                </div>
              </div>
              <div class="col-3">
                <div class="icon icon-box-success">
                  <span class="mdi mdi-account-multiple icon-item"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      {% if user.member.current_mode == 'Member' %}
      <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Last 10</h4>
            <div class="row">
              <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                  <h3 class="mb-0">{{last_10}}</h3>
                </div>
              </div>
              <div class="col-3">
                <div class="icon icon-box-success">
                  <span class="mdi mdi-percent icon-item"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Overall</h4>
            <div class="row">
              <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                  <h3 class="mb-0">{{overall_participation}}</h3>
                </div>
              </div>
              <div class="col-3">
                <div class="icon icon-box-success">
                  <span class="mdi mdi-percent icon-item"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Contributions</h4>
            <div class="row">
              <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                  <h3 class="mb-0">{{total_contributions}}</h3>
                </div>
              </div>
              <div class="col-3">
                <div class="icon icon-box-success">
                  <span class="mdi mdi-currency-usd icon-item"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Pledges</h4>
            <div class="row">
              <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                  <h3 class="mb-0">{{total_pledges}}</h3>
                </div>
              </div>
              <div class="col-3">
                <div class="icon icon-box-success">
                  <span class="mdi mdi-cash-multiple icon-item"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endif %}
      {% if user.member.current_mode == 'Admin' %}
      <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Polls</h4>
            <div class="row">
              <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                  <h3 class="mb-0">{{ polls.count }}</h3>
                </div>
              </div>
              <div class="col-3">
                <div class="icon icon-box-success">
                  <span class="mdi mdi-poll icon-item"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% if user.member.current_mode == 'Admin' or user.member.current_mode == 'Member' %}
      <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Savings</h4>
            <div class="row">
              <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                  <h3 class="mb-0">{{ user.member.savings_total|intcomma }} UGX</h3>
                </div>
              </div>
              <div class="col-3">
                <div class="icon icon-box-success">
                  <span class="mdi mdi-currency-usd icon-item"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="row">
      {% if user.member.current_mode == 'Admin' or user.member.current_mode == 'Member' %}
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card" style="height: 50vh; overflow-y: scroll;">
          <div class="card-body" style="padding-bottom: 10;">
            <h4 class="card-title">Events Performance</h4>
            {{ html_content|safe }}
          </div>
        </div>
      </div>
      {% endif %}
      <div class="{% if user.member.current_mode == 'Admin' or user.member.current_mode == 'Member' %}col-md-8 grid-margin stretch-card{% else %} col-md-12 grid-margin stretch-card{% endif %}">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Active Events</h4>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Event Name</th>
                    <th>Minimum Contribution</th>
                    <th>Closing Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                {% if events|length > 0 %}
                <tbody>
                  {% for event in events %}
                  <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.minimum_contribution }} UGX {% if event.minimum_contribution_kes %}/ {{event.minimum_contribution_kes}} KES{% endif %}</td>
                    {% if user.member.current_mode == 'Admin' or user.member.current_mode == 'Member' %}
                    <td>{{ event.closing_date }}</td>
                    {% elif user.member.current_mode == 'Personal' %}
                    <td>{{ event.event_date }}</td>
                    {% endif %}
                    <td>
                      {% if user.member.current_mode == 'Admin' or user.member.current_mode == 'Member' %}
                      <a href="{% url 'view_paid_list' event.id %}" class="btn btn-outline-primary">Paid List</a>
                      {% elif user.member.current_mode == 'Personal' %}
                      <a href="{% url 'view-personal-paid-list' event.id %}" class="btn btn-outline-primary">Paid List</a>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
                {% else %}
                <tbody>
                  <tr>
                    <td colspan="4" class="text-center">No active events found.</td>
                  </tr>
                </tbody>
                {% endif %}
              </table>
              {% if events|length > 0 %}
              {% if user.member.current_mode == 'Admin' %}
              <a href="{% url 'select_member_to_pay' %}" class="btn btn-primary mt-3"><i class="mdi mdi-cash-multiple"></i> Pay Now</a>
              {% endif %}
              {% else %}
              {% if user.member.current_mode == 'Admin' %}
              <a href="{% url 'create-event' %}" class="btn btn-primary mt-3">Create Event</a>
              {% elif user.member.current_mode == 'Personal' %}
              <a href="{% url 'create-personal-event' %}" class="btn btn-outline-success mt-3">Create Event</a>
              {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if user.member.current_mode == 'Admin' %}
    <div class="row ">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Members Table</h4>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Member ID</th>
                    <th>Picture</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Contributions</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for member in members %}
                  <tr>
                    <td>{{ member.id }}</td>
                    <td>
                      {% if not member.picture %}
                        <img
                          src="{% static 'images/'|add:member.user.member.gender|add:'.jpg' %}"
                          alt="profile"
                          class="rounded-circle img-fluid"
                          style="max-width: 100px"
                        />
                      {% else %}
                        <img
                          src="{{ member.picture.url }}"
                          alt="profile"
                          class="rounded-circle img-fluid"
                          style="max-width: 100px"
                        />
                      {% endif %}
                    </td>
                    <td>{{ member.user.get_full_name }}</td>
                    <td>{{ member.user.email }}</td>
                    <td>{{ member.phone }}</td>
                    <td>{{ member.contributions.count }}</td>
                    <td>
                      <a href="{% url 'member-profile' member.id %}" class="btn btn-outline-primary">Profile</a>
                      <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#suspendModal-{{ member.id }}">Suspend</button>

                      <!-- Modal -->
                      <div class="modal fade" id="suspendModal-{{ member.id }}" tabindex="-1" role="dialog" aria-labelledby="suspendModalLabel-{{ member.id }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="suspendModalLabel-{{ member.id }}">Suspend {{ member.user.get_full_name }}</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form action="" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary">Suspend</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="badge badge-outline-{{ member.payment_status_color }}">{{ member.payment_status }}</div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <div class="mt-3">
                {% if members.has_other_pages %}
                  <ul class="pagination">
                    {% if members.has_previous %}
                      <li class="page-item"><a class="page-link" href="?page={{ members.previous_page_number }}">Previous</a></li>
                    {% else %}
                      <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    {% endif %}
                    {% for i in members.paginator.page_range %}
                      {% if members.number == i %}
                        <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if members.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ members.next_page_number }}">Next</a></li>
                    {% else %}
                      <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                    {% endif %}
                  </ul>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <script>
      function copyToClipboard(elementId) {
        var aux = document.createElement("input");
        aux.setAttribute("value", document.getElementById(elementId).innerHTML);
        document.body.appendChild(aux);
        aux.select();
        document.execCommand("copy");
        document.body.removeChild(aux);
      }
    </script>
  </div>
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'font-awesome/js/fontawesome.min.js' %}"></script>
{% endblock %}

{% block extra_context %}
    {% with events=Events.models.Event.objects.all %}
        {{ block.super }}
    {% endwith %}
{% endblock %}


