{% extends 'benevofy/auth_base.html' %} 

{% block content %}
<div class="card-body px-5 py-5">
  <h3 class="card-title mb-3">Register</h3>
  <form method="POST">
    {% csrf_token %}
    {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endif %}
    {% if not expired %}
    <div class="form-group">
      <label>First Name *</label>
      <input type="text" class="form-control p_input" name="first_name" value="{{ first_name }}" required />
    </div>
    <div class="form-group">
      <label>Last Name *</label>
      <input type="text" class="form-control p_input" name="last_name" value="{{ last_name }}" required />
    </div>
    <div class="form-group">
      <label>Gender *</label>
      <select class="form-control p_input" name="gender" required>
        <option value="">Select</option>
        <option value="Male" {% if gender == "Male" %}selected{% endif %}>Male</option>
        <option value="Female" {% if gender == "Female" %}selected{% endif %}>Female</option>
      </select>
    </div>
    <div class="form-group">
      <label>Email *</label>
      <input type="email" class="form-control p_input" name="email" value="{{ email }}" required />
    </div>
    <div class="form-group">
      <label>Phone *</label>
      <input type="number" class="form-control p_input" name="phone" value="{{ phone }}" required />
    </div>
    <div class="form-group">
      <label>Password *</label>
      <input type="password" class="form-control p_input" name="password" value="{{ password }}" required />
    </div>
    <div class="form-group">
      <label>Confirm Password *</label>
      <input type="password" class="form-control p_input" name="confirm_password" value="{{ confirm_password }}" required />
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-success btn-block enter-btn">
        Register
      </button>
    </div>
    {% endif %}
  </form>
</div>
{% endblock %}


