<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Benevofy | Portal</title>
    <!-- plugins:css -->
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/css/vendor.bundle.base.css' %}"
    />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link
      rel="stylesheet"
      href="{% static 'vendors/jvectormap/jquery-jvectormap.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/owl-carousel-2/owl.carousel.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/owl-carousel-2/owl.theme.default.min.css' %}"
    />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'images/ico.png' %}" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div
          class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top"
        >
          <a class="sidebar-brand brand-logo" style="color: green" href=""
            ><h1>BENEVOFY</h1></a
          >
          <a class="sidebar-brand brand-logo-mini" href=""><h1>B</h1></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  {% if not user.member.picture %}
                  <img
                    class="img-xs rounded-circle"
                    src="{% static 'images/'|add:user.member.gender|add:'.jpg' %}"
                    alt=""
                  />
                  {% else %}
                  <img
                    class="img-xs rounded-circle"
                    src="{{ user.member.picture.url }}"
                    alt=""
                  />
                  {% endif %}
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">
                    {{ user.get_full_name }}
                  </h5>
                  <span title="{{ user.email }}"
                    >{{ user.email|truncatechars:15 }}</span
                  >
                </div>
              </div>
              <a href="" id="profile-dropdown" data-toggle="dropdown"
                ><i class="mdi mdi-dots-vertical"></i
              ></a>
              <div
                class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
                aria-labelledby="profile-dropdown"
              >
                <a
                  href="{% url 'profile' %}"
                  class="dropdown-item preview-item"
                >
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-account-circle text-primary"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">
                      Profile
                    </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a
                  href="{% url 'change-password' %}"
                  class="dropdown-item preview-item"
                >
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-key-change text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">
                      Change Password
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          <li
            class="nav-item menu-items{% if request.path == '/Members/member-dashboard/' %} active{% endif %}"
          >
            <a class="nav-link" href="{% url 'member-dashboard' %}">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          {% if user.member.current_mode == 'Admin' %}
          <li class="nav-item menu-items{% if request.path == '/Members/members/' %} active{% endif %}">
            <a class="nav-link" href="{% url 'members' %}">
              <span class="menu-icon">
                <i class="mdi mdi-account-group"></i>
              </span>
              <span class="menu-title">Members</span>
            </a>
          </li>
          {% endif %}
          {% if user.member.current_mode == 'Admin' %}
          <li class="nav-item menu-items{% if request.path == '/Withdrawals/withdraw/' %} active{% endif %}">
            <a class="nav-link" href="">
              <span class="menu-icon">
                <i class="mdi mdi-cash-refund"></i>
              </span>
              <span class="menu-title">Withdraws</span>
            </a>
          </li>
          {% endif %}
          {% if user.member.current_mode == 'Admin' %}
          <li class="nav-item menu-items{% if request.path == '/Administrators/view-administrators/' %} active{% endif %}">
            <a class="nav-link" href="{% url 'administrators' %}">
              <span class="menu-icon">
                <i class="mdi mdi-account-star"></i>
              </span>
              <span class="menu-title">Administrators</span>
            </a>
          </li>
          {% endif %}
          {% if user.member.current_mode == 'Admin' %}
          <li class="nav-item menu-items{% if request.path == '/Events/events/' %} active{% endif %}">
            <a class="nav-link" href="{% url 'events' %}">
              <span class="menu-icon">
                <i class="mdi mdi-calendar-multiple-check"></i>
              </span>
              <span class="menu-title">Events</span>
            </a>
          </li>
          {% endif %}
          <li class="nav-item menu-items{% if request.path == '/Savings/view_savings/' %} active{% endif %}">
            <a class="nav-link" href="{% url 'view_savings' %}">
              <span class="menu-icon">
                <i class="mdi mdi-cash-refund"></i>
              </span>
              <span class="menu-title">Savings</span>
            </a>
          </li>
          <li class="nav-item menu-items{% if request.path == '/Loans/view_loans/' %} active{% endif %}">
            <a class="nav-link" href="{% url 'view_loans' %}">
              <span class="menu-icon">
                <i class="mdi mdi-currency-usd"></i>
              </span>
              <span class="menu-title">Loans</span>
            </a>
          </li>
          <li class="nav-item menu-items{% if request.path == '/Polls/view_polls/' %} active{% endif %}">
            <a class="nav-link" href="{% url 'polls' %}">
              <span class="menu-icon">
                <i class="mdi mdi-chart-bubble"></i>
              </span>
              <span class="menu-title">Polls</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div
            class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center"
          >
            <a class="navbar-brand brand-logo-mini" href="index.html"
              ><h1 style="color: white;">B</h1></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button
              class="navbar-toggler navbar-toggler align-self-center"
              type="button"
              data-toggle="minimize"
            >
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav navbar-nav-right">
              {% if user.member in user.member.logged_in_association.admins.all %}
              <li class="nav-item dropdown border-left">
                <a
                  class="nav-link dropdown-toggle"
                  id="memberDropdown"
                  href="#"
                  data-toggle="dropdown"
                  aria-expanded="false"
                >
                User Mode
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                  aria-labelledby="memberDropdown"
                >
                {% if user.member.current_mode == 'Admin' %}
                  <a class="dropdown-item preview-item" href="{% url 'switch-to-member' %}">
                    <div class="preview-thumbnail">
                      <i class="mdi mdi-account-circle text-primary"></i>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">
                        Switch to Member
                      </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  {% else %}
                  <a class="dropdown-item preview-item" href="{% url 'switch-to-admin' %}">
                    <div class="preview-thumbnail">
                      <i class="mdi mdi-shield-account"></i>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">
                        Switch to Admin
                      </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  {% endif %}
                </div>
              </li>
              {% endif %}
              <li class="nav-item dropdown border-left">
                <a
                  class="nav-link dropdown-toggle"
                  id="associationDropdown"
                  href="#"
                  data-toggle="dropdown"
                  aria-expanded="false"
                >
                  {{ user.member.association.name }}
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                  aria-labelledby="associationDropdown"
                >
                  {% for association in user.member.associations.all %}
                  <a class="dropdown-item preview-item" href="{% url 'switch-association' association.id %}">
                    <div class="preview-thumbnail">
                      <img
                        src="{{ association.logo.url }}"
                        alt="image"
                        class="rounded-circle profile-pic{% if association == user.member.logged_in_association %} border border-success{% endif %}"
                      />
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">
                        {{ association.name }}
                      </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  {% endfor %}
                </div>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link"
                  id="profileDropdown"
                  href="#"
                  data-toggle="dropdown"
                >
                  <div class="navbar-profile">
                    {% if not user.member.picture %}
                    <img
                      class="img-xs rounded-circle"
                      src="{% static 'images/'|add:user.member.gender|add:'.jpg' %}"
                      alt=""
                    />
                    {% else %}
                    <img
                      class="img-xs rounded-circle"
                      src="{{ user.member.picture.url }}"
                      alt=""
                    />
                    {% endif %}
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">
                      {{ user.get_full_name }}
                    </p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                  aria-labelledby="profileDropdown"
                >
                  <h6 class="p-3 mb-0">Profile</h6>
                  <div class="dropdown-divider"></div>
                  <a
                    href="{% url 'settings' %}"
                    class="dropdown-item preview-item"
                  >
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Settings</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item" href="{% url 'biodata' %}">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-account text-warning"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Biodata</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a
                    class="dropdown-item preview-item"
                    href="{% url 'logout' %}"
                  >
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Log out</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                </div>
              </li>
            </ul>
            <button
              class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
              type="button"
              data-toggle="offcanvas"
            >
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          {% block content %} {% endblock %}
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div
              class="d-sm-flex justify-content-center justify-content-sm-between"
            >
              <span
                class="text-muted d-block text-center text-sm-left d-sm-inline-block"
                >Copyright © benevofy.net 2024</span
              >
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    {% load static %}
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
    <script src="{% static 'vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'vendors/owl-carousel-2/owl.carousel.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/misc.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>

    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'js/dashboard.js' %}"></script>
    <!-- End custom js for this page -->
  </body>
</html>
