{% extends 'benevofy/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="card">
        <div class="card-body text-center">
          <div class="mb-4" style="font-size: 50;">
            {% if not candidate.member.picture %}
                    <img
                      src="{% static 'images/'|add:candidate.member.user.member.gender|add:'.jpg' %}"
                      alt="profile"
                      class="rounded-circle img-fluid"
                      style="max-width: 100px"
                    />
                  {% else %}
                    <img
                      src="{{ candidate.member.picture.url }}"
                      alt="profile"
                      class="rounded-circle img-fluid"
                      style="max-width: 100px"
                    />
                  {% endif %}
          <h5 class="card-title">{{ candidate.name }}</h5>
          <h5 class="card-title">Thank you for voting {{ candidate.member.user.get_full_name }} for {{ poll.title }}</h5>
          <p class="card-text">Your vote has been successfully recorded. <span id="countdown"></span></p>
          <script>
            var countdown = 10;
            setInterval(function() {
              countdown = countdown - 1;
              if (countdown < 0) {
                window.location.href = '/';
              } else {
                document.getElementById("countdown").innerHTML = "Redirecting you in " + countdown + " seconds.";
              }
            }, 1000);
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
