{% extends 'benevofy/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="row ">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-3 d-flex justify-content-between align-items-center">
          Event Pledges Table
          <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#manualModal">
            <i class="mdi mdi-plus"></i> Manual
          </button>  
          
          <div class="modal fade" id="manualModal" tabindex="-1" role="dialog" aria-labelledby="manualModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="manualModalLabel">Manual Pledge</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="post" action="{% url 'pledge' event.id %}" enctype="multipart/form-data" style="padding: 10px;">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success btn-block"><i class="mdi mdi-download"></i> Download Pledge Card </button>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </h4>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for pledge in event.pledges.all %}
              <tr>
                <td>{{ pledge.id }}</td>
                <td>{{ pledge.names }}</td>
                <td>{{ pledge.phone }}</td>
                <td>{{ pledge.amount|intcomma }} UGX {% if pledge.amount_kes %}/ {{ pledge.amount_kes|intcomma }} KES{% endif %}</td>
                <td>{{ pledge.status }}</td>
                <td>
                  {% if pledge.status == 'Unpaid' %}
                  <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#deleteModal-{{ pledge.id }}">
                    <i class="mdi mdi-delete"></i> Delete
                  </button>
                  <div class="modal fade" id="deleteModal-{{ pledge.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteModalLabel">Delete Pledge</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Are you sure you want to delete this pledge?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          <a href="{% url 'delete_pledge' pledge.id %}" class="btn btn-danger"><i class="mdi mdi-delete"></i> Delete</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#paidModal-{{ pledge.id }}">
                    <i class="mdi mdi-check"></i> Paid
                  </button>
                  <div class="modal fade" id="paidModal-{{ pledge.id }}" tabindex="-1" role="dialog" aria-labelledby="paidModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="paidModalLabel">Mark Pledge as Paid</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Are you sure you want to mark this pledge as paid?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          <a href="{% url 'mark_paid' pledge.id %}" class="btn btn-success"><i class="mdi mdi-check"></i> Paid</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  {% if pledge.status == 'Paid' %}
                  <a href="{% url 'paid_card' pledge.id %}" class="btn btn-outline-success btn-sm"><i class="mdi mdi-download"></i> Card</a>
                  {% endif %}
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="6" class="text-center">No pledges found.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
