{% extends 'benevofy/base.html' %}
{% load static %}

{% block content %}
<div class="row ">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          Dependents Table
          <a href="{% url 'add_dependent' %}" class="btn btn-outline-success">
            <i class="mdi mdi-account-plus"></i>
            Add Dependent
          </a>
        </h4>
        <div class="row mb-3">
          <div class="col-md-6">
            <form action="" method="get">
              <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Search..." value="{{ request.GET.search }}" />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Dependent ID</th>
                <th>Picture</th>
                <th>Name</th>
                <th>Relationship</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for dependent in request.user.member.biodata.dependents.all %}
              <tr>
                <td>{{ dependent.id }}</td>
                <td>
                  {% if not dependent.member.picture %}
                    <img
                      src="{% static 'images/'|add:dependent.gender|add:'.jpg' %}"
                      alt="profile"
                      class="rounded-circle img-fluid"
                      style="max-width: 100px"
                    />
                  {% else %}
                    <img
                      src="{{ dependent.picture.url }}"
                      alt="profile"
                      class="rounded-circle img-fluid"
                      style="max-width: 100px"
                    />
                  {% endif %}
                </td>
                <td>{{ dependent.first_name }} {{ dependent.last_name }}</td>
                <td>{{ dependent.relationship }}</td>
                <td>{{ dependent.email }}</td>
                <td>{{ dependent.phone }}</td>
                <td>
                  <a href="{% url 'edit_dependent' dependent.id %}" class="btn btn-outline-primary">Edit</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="mt-3">
            {% if dependents.has_other_pages %}
              <ul class="pagination">
                {% if dependents.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ dependents.previous_page_number }}&search={{ request.GET.search }}">Previous</a></li>
                {% else %}
                  <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}
                {% for i in dependents.paginator.page_range %}
                  {% if dependents.number == i %}
                    <li class="page-item active"><a class="page-link" href="?page={{ i }}&search={{ request.GET.search }}">{{ i }}</a></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}&search={{ request.GET.search }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if dependents.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ dependents.next_page_number }}&search={{ request.GET.search }}">Next</a></li>
                {% else %}
                  <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

