{% extends 'benevofy/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="row ">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-3 d-flex justify-content-between align-items-center">
          Withdraws Table
          {% if user.member.current_mode == 'Member' %}
          <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModal">
            <i class="mdi mdi-plus"></i> Request Withdraw
          </button>

          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">Request Withdraw</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="{% url 'make_withdraw' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Request Withdraw</button>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </h4>

        <div class="row mb-3">
          <div class="col-md-6">
            <form action="" method="get">
              <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Search..." value="{{ request.GET.search }}" />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Date Requested</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for withdraw in user.member.withdraws.all|dictsortreversed:"created_at" %}
              <tr>
                <td>{{ withdraw.id }}</td>
                <td>{{ withdraw.amount|intcomma }} UGX</td>
                <td>{{ withdraw.status }}</td>
                <td>{{ withdraw.created_at|date:"SHORT_DATE_FORMAT" }}</td>
                <td>
                  <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#detailsModal{{ withdraw.id }}"><i class="mdi mdi-eye"></i> Details</button>

                  <!-- Modal -->
                  <div class="modal fade" id="detailsModal{{ withdraw.id }}" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel{{ withdraw.id }}">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="detailsModalLabel{{ withdraw.id }}">Withdraw Details</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <strong>Reason:</strong> {{ withdraw.reason_for_rejection }}<br>
                          <strong>Status:</strong> {{ withdraw.status }}<br>
                          <strong>Account Name:</strong> {{ withdraw.names }}<br>
                          <strong>Bank Account/Phone Number:</strong> {{ withdraw.phone }}<br>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% if withdraw.status == 'Pending' %}
                  {% if user.member.current_mode == 'Admin' %}
                  <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#approveModal{{ withdraw.id }}"><i class="mdi mdi-check"></i> Approve</button>

                  <!-- Modal -->
                  <div class="modal fade" id="approveModal{{ withdraw.id }}" tabindex="-1" role="dialog" aria-labelledby="approveModalLabel{{ withdraw.id }}">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="approveModalLabel{{ withdraw.id }}">Approve Withdraw</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure you want to approve this withdraw request?</p>
                          <p>
                            Send money to:<br>
                            {{ withdraw.names }}<br>
                            {{ withdraw.phone }}
                          </p>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'approve_withdraw' withdraw.id %}" class="btn btn-primary">Approve</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#rejectModal{{ withdraw.id }}"><i class="mdi mdi-close"></i> Reject</button>

                  <!-- Modal -->
                  <div class="modal fade" id="rejectModal{{ withdraw.id }}" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel{{ withdraw.id }}">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="rejectModalLabel{{ withdraw.id }}">Reject Withdraw</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure you want to reject this withdraw request?</p>
                          <form action="{% url 'reject_withdraw' withdraw.id %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                              <label for="reason">Reason</label>
                              <textarea required class="form-control" id="reason" name="reason" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-danger">Reject</button>
                          </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#cancelModal{{ withdraw.id }}"><i class="mdi mdi-cancel"></i> Cancel</button>

                  <!-- Modal -->
                  <div class="modal fade" id="cancelModal{{ withdraw.id }}" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel{{ withdraw.id }}">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="cancelModalLabel{{ withdraw.id }}">Cancel Withdraw</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure you want to cancel this withdraw request?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'cancel_withdraw' withdraw.id %}" class="btn btn-warning">Cancel</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
              {% endif %}

                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="6" class="text-center">No withdraws found.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="mt-3">
            {% if withdraws.has_other_pages %}
              <ul class="pagination">
                {% if withdraws.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ withdraws.previous_page_number }}&search={{ request.GET.search }}">Previous</a></li>
                {% else %}
                  <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}
                {% for i in withdraws.paginator.page_range %}
                  {% if withdraws.number == i %}
                    <li class="page-item active"><a class="page-link" href="?page={{ i }}&search={{ request.GET.search }}">{{ i }}</a></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}&search={{ request.GET.search }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if withdraws.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ withdraws.next_page_number }}&search={{ request.GET.search }}">Next</a></li>
                {% else %}
                  <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
